[Desktop Entry]
Encoding=UTF-8
Name=ByteBar
Comment=ByteBar P2P Cryptocurrency
Comment[fr]=ByteBar, monnaie virtuelle cryptographique pair à pair
Comment[tr]=ByteBar, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/bytebar-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/bytebar;
Categories=Office;
